/*==== common css =====*/
*{
	margin: 0;
	padding: 0;
}
.stracture{
	width:1070px;
	margin: 0 auto;
}
.fix{
	overflow: hidden;
}
/*==== common css =====*/

/*==== header start ====*/
header{
	background-color: #121B2A;
}
.logo{
	width:25%;
	float: left;
}
.menu{
	width:70%;
	float: left;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	display: inline;
}
.menu ul li a{
	display: inline-block;
	padding: 25px 30px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s all linear;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	background-color: #F5F6F7;
	color:#040813;
}
/*==== header end ====*/
/*==== banner start ====*/
.banner_area{
	background: url(../images/slider_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.banner{
	margin-top:230px;
	margin-bottom: 100px;
}
.banner_content{
	width: 45%;
}
.banner_content p:first-child{
	text-transform: capitalize;
	font-size: 30px;
	color:#fff;
}
.banner_content h2{
	text-transform: capitalize;
	font-size: 40px;
	color:blue;
	font-weight: bold;
}
.banner_content p:nth-last-child(2){
	text-transform: capitalize;
	font-size: 18px;
	color:#fff;
}
button{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	border:0;
}
/*==== banner end ====*/
/*==== service start ====*/
.service_area{
	background-color: #111A29;
	padding: 50px 0;

}
.service{
	
}

.single_service{
	width: 30%;
	float: left;
	margin-right: 35px;
	margin-left: 10px;
	border-right: 1px solid #ddd;
}
.single_service:first-child{
	margin-left: 0;
}
.single_service:last-child{
	border-right: 0;
	margin-right: 0;
}

.single_service:last-child{
	float: right;
}
.service_title{
	width: 20%;
	float: left;
}
.service_title img{
	width: 100%;
	float: left;
}
.icon_content{
	padding-left: 15px;
}	
.icon_content h1{
	text-transform: capitalize;
	font-size: 25px;
	color:#fff;
	font-weight: bold;

}
.icon_content h2{
	text-transform: capitalize;
	font-size: 20px;
	color:blue;
	font-weight: bold;
	line-height: 40px;
}
.service_content{
	padding-right: 25px;
}
.service_content  p{
	text-transform: capitalize;
	font-size: 18px;
	color:#fff;
	margin-top: 20px;
	line-height: 30px;
	text-align: justify;
}
/*==== service end ====*/
/*==== contact start ====*/
.contact_area{
	background-color: #121B2C;
	padding:100px 0;
}
.contact{

}
.single_contact{
	color:#fff;
	width:30%;
	float: left;
	margin: 0 17px;
}
.single_contact h2{
	text-transform: uppercase;
	font-size: 30px;
	color:blue;
	font-weight: bold;
	margin: 20px 0;
}
.single_contact .text{
	margin: 20px 0;
	line-height: 30px;
}
.single_contact p .call{

}
.single_contact .fax{
	margin: 10px 0;
}
.single_contact p .email{

}
.single_contact p span{
	margin-left: 30px;
}
.single_contact img{
	float: left;
	margin-right: 20px;
	width:50%;
}
/*==== contact end ====*/
/*==== footer start ====*/
footer{
	background-color: #050811;
	padding: 20px 0;
}
.footer{

}
.footer_menu{
	float: left;
}
.footer_menu ul{

}
.footer_menu ul li{
	list-style: none;
	display: inline;
}
.footer_menu ul li a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.5s all linear;
}
.footer_menu ul li a:hover{
	background-color: #F5F6F7;
	color:#040813;
}
.footer_lgo{
	text-align: right;
}







/*==== footer end ====*/